* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
}

body {
  background: #0e0719;
  background: linear-gradient(
    180deg,
    rgba(14, 7, 25, 1) 0%,
    rgba(16, 12, 35, 1) 59%,
    rgba(24, 28, 73, 1) 100%
  );
  height: 100vh;
  overflow: hidden;
}
<<<<<<< HEAD
.container {
=======
.Container {
>>>>>>> 4d29ef36ee2c91e8da7a0cf6b76c6d8e29396f7c
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
<<<<<<< HEAD
.hero {
=======
.Hero {
>>>>>>> 4d29ef36ee2c91e8da7a0cf6b76c6d8e29396f7c
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

<<<<<<< HEAD
.header {
  color: white;
  font-size: 50px;
}
.tag {
=======
.Header {
  color: white;
  font-size: 50px;
}
.Tag {
>>>>>>> 4d29ef36ee2c91e8da7a0cf6b76c6d8e29396f7c
  color: #de55de;
  font-size: 50px;
}
div p {
  color: white;
  font-size: 20px;
  max-width: 600px;
  text-align: center;
}
.liquid-btn,
<<<<<<< HEAD
.btn-forrbeden {
=======
.aForrbeden {
>>>>>>> 4d29ef36ee2c91e8da7a0cf6b76c6d8e29396f7c
  position: relative;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.08);
  color: white;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 600;
  cursor: pointer;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4),
    inset 0 0 12px rgba(255, 255, 255, 0.15);
  transition: 0.3s ease;
  overflow: hidden;
}

.liquid-btn::before,
<<<<<<< HEAD
.aforrbeden::before {
=======
.aForrbeden::before {
>>>>>>> 4d29ef36ee2c91e8da7a0cf6b76c6d8e29396f7c
  content: "";
  position: absolute;
  inset: -40%;
  background: radial-gradient(
      circle at 30% 30%,
      rgb(255, 255, 255),
      transparent 40%
    ),
    radial-gradient(circle at 70% 70%, #de55de, transparent 45%);
  filter: blur(25px);
  z-index: 0;
}

.liquid-btn span {
  position: relative;
  z-index: 1;
}

.liquid-btn:hover,
<<<<<<< HEAD
.aforrbeden:hover {
=======
.aForrbeden:hover {
>>>>>>> 4d29ef36ee2c91e8da7a0cf6b76c6d8e29396f7c
  box-shadow: 0 0px 40px rgba(255, 255, 255, 0.359);
}

.Hello {
  background-color: red;
}
<<<<<<< HEAD
.ascii {
=======
.Ascii {
>>>>>>> 4d29ef36ee2c91e8da7a0cf6b76c6d8e29396f7c
  color: white;
  padding: 0px 20px;
  white-space: pre;
  font-family: monospace;
  font-size: 15px;
  overflow-y: auto;
  scrollbar-color: #ffffff21 #ffffff00;
  width: 80%;
  height: 80%;
  overflow: scroll;
}
form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4),
    inset 0 0 12px rgba(255, 255, 255, 0.15);

  border-radius: 20px;
  width: fit-content;
}

<<<<<<< HEAD
.inputs {
=======
.Inputs {
>>>>>>> 4d29ef36ee2c91e8da7a0cf6b76c6d8e29396f7c
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
<<<<<<< HEAD
.inputs label {
=======
.Inputs label {
>>>>>>> 4d29ef36ee2c91e8da7a0cf6b76c6d8e29396f7c
  font-size: 20px;
  color: white;
  text-transform: capitalize;
  padding: 10px;
}

.generate {
  position: relative;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.08);
  color: white;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 600;
  cursor: pointer;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4),
    inset 0 0 12px rgba(255, 255, 255, 0.15);
  transition: 0.3s ease;
  overflow: hidden;
}
input::placeholder {
  color: white;
}

<<<<<<< HEAD
.forrbeden {
=======
.Forrbeden {
>>>>>>> 4d29ef36ee2c91e8da7a0cf6b76c6d8e29396f7c
  color: white;
  font-size: 50px;
  padding: 20px;
}
<<<<<<< HEAD
.des-forrbeden {
=======
.DForrbeden {
>>>>>>> 4d29ef36ee2c91e8da7a0cf6b76c6d8e29396f7c
  font-size: 25px;
  color: white;
  text-align: center;
}

<<<<<<< HEAD
.btn-forrbeden {
=======
.aForrbeden {
>>>>>>> 4d29ef36ee2c91e8da7a0cf6b76c6d8e29396f7c
  color: white !important ;
}
