* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
}

body {
  background: #0e0719;
  background: linear-gradient(
    180deg,
    rgba(14, 7, 25, 1) 0%,
    rgba(16, 12, 35, 1) 59%,
    rgba(24, 28, 73, 1) 100%
  );
  height: 100vh;
  overflow: hidden;
}
.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.Hero {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Header {
  color: white;
  font-size: 50px;
}
.Tag {
  color: #de55de;
  font-size: 50px;
}
div p {
  color: white;
  font-size: 20px;
  max-width: 600px;
  text-align: center;
}
.liquid-btn {
  position: relative;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.08);
  color: white;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 600;
  cursor: pointer;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4),
    inset 0 0 12px rgba(255, 255, 255, 0.15);
  transition: 0.3s ease;
  overflow: hidden;
}

.liquid-btn::before {
  content: "";
  position: absolute;
  inset: -40%;
  background: radial-gradient(
      circle at 30% 30%,
      rgb(255, 255, 255),
      transparent 40%
    ),
    radial-gradient(circle at 70% 70%, #de55de, transparent 45%);
  filter: blur(25px);
  z-index: 0;
}

.liquid-btn span {
  position: relative;
  z-index: 1;
}

.liquid-btn:hover {
  box-shadow: 0 0px 40px rgba(255, 255, 255, 0.359);
}

.Hello {
  background-color: red;
}
.Ascii {
  color: white;
  white-space: pre;
  font-family: monospace;
  font-size: 10px;
}
/* test push*/
form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4),
    inset 0 0 12px rgba(255, 255, 255, 0.15);

  border-radius: 20px;
  width: fit-content;
}

.Inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Inputs label {
  font-size: 20px;
  color: white;
  text-transform: capitalize;
  padding: 10px;
}

.generate {
  position: relative;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.08);
  color: white;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 600;
  cursor: pointer;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4),
    inset 0 0 12px rgba(255, 255, 255, 0.15);
  transition: 0.3s ease;
  overflow: hidden;
}
input::placeholder {
  color: white;
}
